:root {
  --bg-color: #ffffff; /*#FCFCFC rgb(255, 252, 240)*/ 
  --text-primary: rgb(16, 15, 15); /* #000000*/
  --font-body: 'Libre Baskerville';
  --link-bg: #454138;
  --main-font: 'Libre Baskerville';;
}

html {
    height: 100%;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--main-font);
    font-size: 1.2em;
    font-weight: 400;
    color: var(--text-primary);
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
    line-height: 1.46;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  width: min(50ch, 100% - 4rem);
  margin-left: auto;
  margin-right: auto;
  order: 2;
}

.order-2 {
  order: 2;
}

.post-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 1em;
}

.post-title {
  margin: 0;
  padding: 0;
}

#my-map {
    width: auto;
    height: auto;
}