:root {
    --bg-color: #ffffff; /*#FCFCFC rgb(255, 252, 240)*/ 
    --text-primary: rgb(16, 15, 15); /* #000000*/
    --main-font: 'Libre Baskerville';
}

body {
    background: var(--cream);
    font-family: var(--main-font);
    color: var(--text-primary);
    font-size: 1.2em;
    font-weight: 400;
    line-height: 1.7;
}

.header {
    text-align: center;
    border-bottom: 4px double;
    max-width: 1100px;
    margin: 0 auto;
}

.navigation {
    max-width: 1100px;
    margin: 0 auto;
    padding: 14px 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 6px 12px;
    justify-content: center;
}

.navigation a {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    color: var(--main-font);
    padding: 4px;
    border-bottom: 2px solid transparent;
    transition: all .2s;
}

.navigation a:hover {
    color: crimson;
    border-bottom: 2px solid crimson;
}

.content {
    width: min(50ch, 100% - 4rem);
    margin: 0 auto;
}

p {
    margin: 6px 0;
}

p + p {
    margin: 1rem 0 0 0;
}

p a, ul a, ol a {
    /* text-decoration: underline */
    color: #518abb;
}

#map {
    height: 80ch;
    width: 100%;
}